body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    background-color: #006400;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #228b22;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #32cd32;
}

.container {
    padding: 20px;
}

footer {
    background-color: #006400;
    text-align: center;
    padding: 10px;
}
